<%- include('./parties/tete.ejs') %>
    <h1 class="titrePage">Administration</h1>
    <a id="boutonCreationUtilisateur" class="bouton boutonAction">Crée un utilisateur</a>
    <a id="boutonGestionUtilisateur" class="bouton boutonAction">Gestion utilisatreur</a>
    <a id="boutonCreationGestionnaire" class="bouton boutonAction">Crée un gestionnaire</a>
    <a id="boutonGestionGestionnaire" class="bouton boutonAction">Gestion gestionnaire</a>
    <div id="divResultat"></div>
<%- include('./parties/pied.ejs') %>