<%- include('./parties/tete.ejs') %>
    <h1 class="titrePage">Gestion Accueil</h1>
    <div id="divBoutonRedirection">
        <a href="/gestion/stand" id="boutonPageStand" class="bouton">Page Stand</a>
        <a href="/gestion/utilisateur" id="boutonPageUtilisateur" class="bouton">Page Gestion Utilisateur</a>
    </div>
<%- include('./parties/pied.ejs') %>
