<%- include('./parties/tete.ejs') %>
    <h1>Lecteur de QR-Code</h1>
    <video id="videoElement" class="w-30" autoplay></video>
    <button id="boutonDemarrer">Scan</button>

    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="/public/js/stand.js"></script>
<%- include('./parties/pied.ejs') %>