.bouton {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    background-color: #688bfb;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.bouton:hover {
    color: white;
}
.boutonAction {
    width: 190px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.boutonAction:hover {
    color: white;
}
#boutonGestionUtilisateur {
    margin-bottom: 20px;
}
.divEnfant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.supprimerGestionnaire {
    background-color: #cb3737;
}
.supprimerUtilisateur {
    background-color: #cb3737;
}
