#videoElement {
    width: 300px;
}
#boutonDemarrer {
    display: flex;
    margin: 10px auto 0px auto;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}