/* #videoElement {
    width: 300px;
    margin-bottom: 15px;
}
#divResultat {
    text-align: center;
}
#divBoutonMise {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.boutonMise {
    background-color: #ffa744;
}
#ajoutMise1,
#ajoutMise10,
#ajoutMise100 {
    margin-right: 10px;
}
#validerLaMise {
    background-color: #729ea1;
}
#divInputMise {
    display: flex;
    justify-content: center;
    align-items: center;
}
#divInputMise p {
    margin: 0;
    margin-right: 10px;
}
#boutonResultat {
    background-color: #729ea1;
    margin: 0 auto;
}
.divUtilisateurPartie {
    margin-bottom: 30px;
}
.divMutltiplicateurGagner {
    margin-bottom: 30px;
}
.boutonMultiplicateur {
    background-color: #729ea1;
}
.miseX2,
.miseX5 {
    margin-right: 10px;
}
.boutonPartiePerdu {
    background-color: #ffa744;
}
#boutonPartieTerminee {
    background-color: #db5375;
}
 */
#cameraSelect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#boutonsScan {
    display: flex;
    justify-content: center;
}
#videoElement {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
