#videoElement {
    width: 90%;
    max-width: 500px;
    height: 50%;
    margin-bottom: 4px;
}
#divResultat {
    text-align: center;
}
#divBoutonMise {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.boutonMise {
    background-color: #ffa744;
}
#ajoutMise1,
#ajoutMise10,
#ajoutMise100 {
    margin-right: 10px;
}
#validerLaMise {
    width: 76px;
    /* margin-right: 10px; */
    background-color: #729ea1;
}
#divInputMise {
    display: flex;
    justify-content: center;
    align-items: center;
}
#divInputMise p {
    margin: 0;
    margin-right: 10px;
}
#boutonResultat {
    background-color: #729ea1;
    margin: 0 auto;
    display: flex;
    width: 93px;
}
.divUtilisateurPartie {
    margin-bottom: 30px;
}
.divMutltiplicateurGagner {
    margin-bottom: 30px;
}
.boutonMultiplicateur {
    background-color: #729ea1;
}
.miseX2,
.miseX5 {
    margin-right: 10px;
}
.boutonPartiePerdu {
    background-color: #ffa744;
}
#boutonPartieTerminee {
    background-color: #db5375;
    width: 145px;
}

#boutonsScan {
    display: flex;
    justify-content: center;
}
#boutonCapture {
    background-color: #ffa744;
    display: block;
    width: 171px;
    margin: 0 auto 15px auto;
}
#boutonRetourQRCode {
    width: 145px;
    background-color: #8ea08e;
}
#divBoutonActionPageMise {
    display: flex;
}
#divBoutonActionPageMise,
#divBoutonPartie {
    display: flex;
    flex-direction: column;
    align-items: center;
}
